
.input_edit{
    width: 100%;
    padding: 7px 7px;
    border-radius: 10px;
    box-shadow:
              inset 2px 2px 4px hsl(240, 39%, 84%), 
              inset 2px -2px 4px hsl(240, 0%, 100%);
}