@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
  --Poppins: 'Poppins', sans-serif;
  --Mont: 'Montserrat', sans-serif;
  --Source_Sans_Pro: 'Source Sans Pro', sans-serif;
  --Nunito: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #CCCDCF;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
}

input {
  font-family: var(--Nunito);
}

img {
  /* display: none; */
  width: 207px;
  height: 135px;
  margin-top: -110px;
  margin-bottom: 35px;
}

span {
  width: 100%;
}

.container {
  position: relative;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 4px 4px 12px rgb(0, 0, 0, 27%);

  /* animation: animationname .7s linear; */
  /*animation: animation-name animation-duration animation-direction animation-iteration-count */  
    /* transition: .7s ease-in-out; */
}

@keyframes animationname{
  0%{
    transform: translateY(-70px);
  }
  100%{
    transform: translateY(0px);
  }
}

.brand-logo {
  display: none;
  height: 135px;
  width: 207px;
  background-image: url("../img/matorig.png");
  /* background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  box-sizing: border-box; */
  /*box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;*/
}

.brand-title, .system-name {
  font-family: var(--Nunito);
  font-size: 25px;
}

.system-name {
  font-weight: bold;
  color: #3C5393;
}

/* label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
} */

/* label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
} */

input::placeholder {
  color: #DFDFDF;
}

#ENumber, #PWord{
  /* padding: 15px; */
  outline: 0;
  padding-left: 20px;
  height: 50px;
  width: 90%;
  font-size: 20px;
  background: #fff;
  border: 1px solid rgb(112, 112, 112, 35%);
}

#ENumber{
  border-radius: 15px 15px 0 0;
  margin-top: 30px;
}

#PWord{
  border-radius: 0px 0px 15px 15px;
}

button {
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  background: #3C5393;
  color: #FFFFFF;
  font-family: var(--Nunito);
  font-size: 20;
  font-weight: bold;
  box-shadow: 4px 4px 7px rgb(58, 58, 58, 41%);
}

button:hover {
  box-shadow: none;
}

a {
  text-decoration: none;
}