input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

.user_div{
  margin-top: auto;
  margin-bottom: auto;

}

.MA_logo{
    width: 100px;
}
.user_div i{
  color: #005C97;
}

.fa-circle-user{
  font-size: 35px;
  float: right;
}

.Label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
  
  #navbar {
    height: 60px;
    /* border-radius: 0 0 20px 20px; */
    /* display: grid;
    min-height: 90px;
    grid-auto-flow: column; */
    background: #fff;
    /* grid-gap: 5em; */
    /* padding: 0 20px; */
    /* -webkit-box-shadow: -1px 2px 3px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 2px 3px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 2px 3px 0px rgba(209, 205, 209, 1); */
  }
  
  #logo {
    padding-left: 30px;
    display: grid;
    justify-content: start;
    align-content: center;
  }
  
  /* .logo span {
    color: #0474bc;
  } */
  
  #links {
    display: grid;
    justify-content: left;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 30px;
    margin: 0;
    padding-left: 30px;
    background: #EBEBEB;
    height: 50px;
  }

  #logout_desktop{
    margin-right: auto;
  }
  
  #links a {
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--Mont);
  }
  
  #links a:hover {
    color: #0474bc;
  }

  .active_menu{
    color: #005C97 !important;
    border-bottom: 2px solid #005C97 !important;
    transition: 0.5s
  }

/* CSS FOR DESKTOP MENU */
.nav_menu{
  font-family: var(--Poppins);
  font-size: 16px;
  color: #B8B8B8;
  padding: 3px 10px !important; 
}

.nav_menu:hover{
  color: #3C5393;
  background: none;
}
  
  /* =======================
  ******* Mobile Menu ******
  ========================*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #fff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {

    /* body{
        background-image: url('../images/WH1.png');
    } */

    #links,
    .mobile-menu {
      display: none;
    }

    /* #logo {
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap: 70px;
    } */

  }
  
  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-btn {
      display: none;
    }
    .user_div{
      display: none;
    }
  }