#ajax_search_result{
    overflow-y: scroll;
    height: 160px;
    background: #E6E6E6;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 16%);
    /*-ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;  /* Firefox */
}

/* #ajax_search_result::-webkit-scrollbar {
    display: none;
  } */

.result_table{
    background: teal;
    color: #fff;
    border-radius: 5px;
    width:100%; 
    text-align:center;
}

.result_button{
    color: #fff;
    background: #363795;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.sum_label{
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    padding: 10px 0px;
}
.sum{
    padding: 10px 20px;
    box-shadow:
    inset 4px 4px 8px hsl(240, 39%, 84%), 
    inset 4px -4px 8px hsl(240, 0%, 100%);
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-family: var(--Poppins);
}