
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.fa-qrcode{
    color: black;
}

.logo-container{
    background-color: #3C5393;
    height: 90px;
}

/* result.php */
/* .qr_container{ */
    /* width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto; */
/* } */

.barcode_result_container{
    max-width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #888888;
    
}

.barcode_container{
    max-width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* result.php */

.qr-click{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    box-shadow: 0px 3px 10px #888888;
    border: 1px solid #3C5393;
    left: 50%;
    transform: translateX(-40%);
    transition: all .3s ease !important;
}

/* #qr-code{
    width: 100px;
    height: 100px;
} */


/* generate-qr.php */

.box-container{
    /* border: 1px solid black; */
    /* max-width: 400px; */
    height: 650px;
    border-radius: 10px;
    
}

@media screen and (max-width:412px) {
	*{
        font-size:12px;
    }

    /* index.php */
    .matech-logo{
        width:250px !important;
        height: 150px !important;
    }
}


