@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
#data-table_filter input{
    color: black !important;
    background-color: white !important;
    }

#printQR{
    width: 150px;
    height: 50px;
    border-radius: 7px !important;
    background-color: #3C5393;
    margin-left:auto;
    margin-right:32px; 
    display:flex; 
    justify-content:center; 
    align-items: center;
   
}

#printQRFloat{
    width: 60px;
    height: 60px;
    border-radius: 50px !important;
    background-color: #3C5393;
    margin-left:auto;
    margin-right:32px; 
    display:flex; 
    justify-content:center; 
    align-items: center;
    position:fixed;
    bottom:10px;
    right: 10px;
    transition: all .3s ease !important;
}
/* input {
    color: white !important;
    background-color: black !important;
    } */
#printQR:hover, #printQRFloat:hover{
    background-color: white !important;
    border: 1px solid #3c5393 !important;
    color: #3c5393 !important;
    transform: scale(1.02);
    
}

#printQR:hover #qrTotalPieces, #printQRFloat:hover #qrTotalPiecesFloat{
    background-color: #3c5393 !important;
    /* border: 1px solid #3c5393 !important; */
    color: white !important;
    transform: scale(1.02);
    
}


#printQR:active, #printQRFloat:active {
    background-color: #3c5393 !important;
    color: white !important;
    
}

tbody tr:hover{
    /* background-color: #ECECEC !important; */
    /* transform: scale(1); */
    box-shadow: 3px 3px 10px #888888;
}

.logo{
    padding-left: 30px;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #3C5393;
    justify-content: start;
    align-items: center;
    display: flex;
    height: 60px;
    /* text-align: center; */
}

.nav-links{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
}
.nav-btn {
    margin: 0;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 10px;
    letter-spacing: 1px;
    margin-right: 30px;
}

.nav-btn:hover{
    color: #3C5393 !important;
    background: none;
    transform: scale(1.05);
}
.logout-btn{
    background-color: #800000 !important;
    color: #fff;
    border-radius: 5px;
    height: 27px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.logout-btn:hover{
    color: #fff !important;
    background: #800000 !important;
    
}
    
table td{
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
}

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered {
    border-right: 0;
    border-left: 0;
}

.form-check-input{
    cursor: pointer;
}



.view-carton-btn {
	color: #FFFFFF;
	font-size: 10px;
	border-radius: 5px;
	border: solid 1px #3866a3;
	text-shadow: 1px 1px 0px #528ECC;
	box-shadow: inset 1px 1px 0px 0px #BBDAF7;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	/* font-family: Arial; */
	background: linear-gradient(180deg, #3c5393 10%, #468CCF 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
    width: 100%;
}
.view-carton-btn:hover {
	background: linear-gradient(180deg, #468CCF 10%, #3c5393 100%);
}
.view-carton-btn-text {
	position: relative;
	padding: 8px 16px;
}
.view-carton-btn-icon {
	position: relative;
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 8px 8px;
}


.add-carton-btn {
	color: #FFFFFF;
	font-size: 10px;
	border-radius: 5px;
	border: solid 1px #3866a3;
	text-shadow: 1px 1px 0px #528ECC;
	box-shadow: inset 1px 1px 0px 0px #BBDAF7;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	/* font-family: Arial; */
	background: linear-gradient(180deg, #3c5393 10%, #468CCF 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
    width: 50px;
    
}
.add-carton-btn:hover {
	background: linear-gradient(180deg, #468CCF 10%, #3c5393 100%);
}

.add-carton-btn-icon {
	position: relative;
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 10px 10px;
    width: 50px;
    /* font-weight:bold; */
}

/* spinner */

.spinner {
    width: 72px;
    height: 72px;
    display: grid;
    /* border-radius: 50%; */
    -webkit-mask: radial-gradient(farthest-side,#0000 40%,#fff 41%);
    background: linear-gradient(0deg ,rgba(128,128,128,0.9) 50%,#fff 0) center/5.8px 100%,
         linear-gradient(90deg,rgba(128,128,130,0.9) 50%,#fff 0) center/100% 5.8px;
    background-repeat: no-repeat;
    animation: spinner-d3o0rx 1s infinite steps(12);

 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
 }
 
 .spinner::after {
    opacity: 0.83;
    transform: rotate(60deg);
 }
 
 @keyframes spinner-d3o0rx {
    100% {
       transform: rotate(1turn);
    }
 }

 /* print button spinner */

 .printBtnSpinner {
    width: 24px;
   height: 24px;
   border-radius: 50%;
   padding: 0.5px;
   background: conic-gradient(#0000 10%,#ffffff) content-box;
   -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 calc(100% - 3.8px));
   -webkit-mask-composite: destination-in;
   mask-composite: intersect;
   animation: spinner-d55elj 1s infinite steps(10);

 }
 
 
 
 @keyframes spinner-d55elj {
    to {
       transform: rotate(1turn);
    }
 }